.custom-container {
  display: flex;
  align-items: flex-start;
}
.custom-sidebar {
  min-width: 270px;
  margin-left: 10px;
}
.sidebar-header {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #565656;
  margin-bottom: 8px;
}
.sidebar-desc {
  color: #999999;
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
}
.custom-sidebar > *:not(:last-child) {
  margin-bottom: 15px;
  border-bottom: 1px #e5e5e5 solid;
  padding-bottom: 15px;
}
.custom-sidebar i {
  color: #999999;
}
.custom-sidebar ol {
  list-style-type: decimal;
  list-style-position: inside;
  padding-left: 25px;
    color: #333;
}
.custom-sidebar ol li {
  line-height: 1.4;
}
.custom-card {
    box-shadow: 0px 0px 3px 0px rgba(171, 171, 171, 0.6);
    border-radius: 3px;
    border-color: #ddd;
    padding: 22px 20px;
    display: block;
    position: relative;
}
.custom-card-container:not(:last-child) {
  margin-bottom: 30px;
}
.custom-card-section {
  display: flex;
  align-items: flex-start;
}

.helper {
  line-height: 1.6;
  text-align: center;
}
.instructions-list p {
  color: #999;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
.number {
  background: #32CD32;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px;
  font-size: 14px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-right: 25px;
}
.custom-card-header {
    font-size: 20px;
    text-align: left;
    color: #5e5e5e;
    margin-bottom: 5px;
}
.custom-card-desc {
  font-size: 16px;
    text-align: left;
    width: 100%;
    word-break: break-word;
    color: #999;
}
.input-container {
  width: 100%;
}
.custom-input {
  color: #4CAF50;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  margin-bottom: 0;
  outline: none;
  width: 100%;
  border: 1px solid #d9dad3;
}
.input-name {
    font-size: 16px;
    text-align: left;
    color: #5e5e5e;
    margin-bottom: 10px;
    font-weight: bold;
}
.input-comment {
    font-size: 14px;
    text-align: left;
    color: #999;
    line-height: 24px;
}
.input-container i {
    display: block;
    color: #999;
    margin: 15px 0;
}
.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px #e5e5e5 solid;
    transition: background-color .2s;
}
.item:hover {
    background-color: #f9f9f9;
}
.item-result {
    justify-content: flex-end;
}
.item:first-child {
    padding-top: 0;
}
.value-label {
    display: flex;
    align-items: center;
}
.item label i {
    color: #608430;
    font-size: 28px;
    margin-right: 24px;
}
.title {
    font-size: 15px;
    color: #4c4a47;
}
.subtitle {
    font-size: 11px;
    color: #888;
}
.input-value {
    width: 100px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    color: #888;
    padding: 9px 10px;
    margin-left: 12px;
}
.result-label {
    font-size: 16px;
    font-weight: bold;
}
.result {
    color: #95af7e;
    font-size: 26px;
    margin-left: 12px;
    min-width: 100px;
    text-align: right;
}
#thcPerServing {
    font-size: 26px;
    color: #4CAF50;
    text-align: center;
    margin: 5px 0;
}
.g-flex {
  display: flex;
}
.thcaToThcPerServing {
    font-size: 13px;
    color: #5e5e5e;
}
.thcaToThcPerServing p {
    line-height: 1.5;
}
#thcaToThcPerServing {
    font-size: 18px;
    width: 100%;
    margin-left: 7px;
    color: #4CAF50;
    min-width: 90px;
    text-align: right;
}
.error {
    display: none;
    width: 100%;
    padding-left: 2px;
    color: #f44336;
    font-size: 12px;
    font-weight: bold;
    margin-top: 3px;
}
/* range */
.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
    position: relative;
  }
  
  .slider::-webkit-slider-thumb::before {
      content: 'cont';
      width: 15px;
      height: 10px;
      position: absolute;
      color: #000000;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

  /* second */
  .range-slider {
    position: relative;
  }
  .box-minmax {
    margin-top: 30px;
    width: 608px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #fff;
  }
  .box-minmax span:first-child {
    margin-left: 10px;
  }
  .rs-range {
    margin: 0;
    margin-top: 35px;
    width: 100%;
    -webkit-appearance: none;
  }
  .rs-range:focus {
    outline: none;
  }
  .rs-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: rgba(0,0,0,.1);
    height: 6px;
    border-radius: 15px;
    border: 0px solid #010101;
  }
  .rs-range::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: rgba(0,0,0,.1);
    height: 6px;
    border-radius: 15px;
    border: 0px solid #010101;
  }
  .rs-range::-webkit-slider-thumb {
    position: relative;
    z-index: 10;
    box-shadow: none;
    border: 0px solid #32CD32;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    height: 22px;
    width: 22px;
    border-radius: 22px;
    background: #32CD32;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  .rs-range::-moz-range-thumb {
    position: relative;
    z-index: 10;
    box-shadow: none;
    border: 0px solid #32CD32;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    height: 22px;
    width: 22px;
    border-radius: 22px;
    background: #32CD32;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  .rs-range::-moz-focus-outer {
    border: 0;
  }
  .rs-fill {
    position: absolute;
    bottom: 4px;
    display: block;
    background: #32CD32;
    z-index: 5;
    border-radius: 15px;
    height: 6px;
  }
  .rs-label {
    position: absolute;
    transform-origin: center center;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 11px;
    background: #32CD32;
    padding: 3px 8px;
    border-radius: 15px;
    width: 50px;
    z-index: 10;
  }
  .rs-label::after {
    content: "%";
  }
  .range-val {
    position: absolute;
    color: #333;
    background: rgba(0,0,0,.1);
    border-radius: 15px;
    padding: 3px 8px;
    width: 50px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
  }
  .min-val {
    left: 0;
  }
  .max-val {
    right: 0;
  }
  
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

  .down-arrow-outer {
    text-align: center;
    color: #32CD32;
    display: none;
  }
  .down-arrow-outer h3 {
    font-size: 14px;
    font-weight: bold;
  }
  .down-arrow-outer i {
    font-size: 18px;
    display: block;
    margin: 10px auto;
    -webkit-animation: mover .35s ease-in alternate infinite;
    animation: mover .35s ease-in alternate infinite;
}

@media (max-width: 768px) {
  .down-arrow-outer {
    display: block;
  }
  .custom-container {
    flex-flow: column;
  }
  .custom-sidebar {
    margin-top: 15px;
    margin-left: 0;
  }
}